<div class = "grid-x grid-padding=x">
  <div class = "large-12 cell">
    <h2><%= @title %>:</h2>
    <pre><%= @subscribers %></pre>
  </div>
</div>

<div class="grid-x grid-padding-x">
    <div class="lagre-12 cell">
      <a href="/" class="button primary">Back to menu</a>
    </div>
</div>