<div class = "grid-x grid-padding=x">
  <div class = "large-12 cell">
    <h1>Communication company.</h1>
  </div>
</div>

<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h5>Edit subscribers:</h5>
    <a href="/add" class="button primary">Add subscriber</a>
    <a href="/delete" class="button primary">Delete subscriber</a>
  </div>
  <div class="large-12 cell">
    <h5>Search subscribers:</h5>
    <a href="/by_name" class="button primary">By name</a>
    <a href="/by_phone" class="button primary">By phone</a>
  </div>
  <div class="large-12 cell">
    <h5>Show subscribers:</h5>
    <a href="/all" class="button primary">All</a>
    <a href="/nolimit" class="button primary">No limit</a>
    <a href="/combined" class="button primary">Combined</a>
    <a href="/by_time" class="button primary">By time</a>
  </div>
  <div class="large-12 cell">
    <h5>Payment info:</h5>
    <a href="/payment" class="button primary">Calc receipt for last month</a>
  </div>
</div>